{% extends 'base.html' %}
{% load static %}
{% block donate_selected %}selected{% endblock %}'
{% block content %}
    <div id="body">
        <div class="container">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$10 can fund 1 Capillary dialyzer (FX10) for our patients.</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 10 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$50 can fund 10 pc. Blood lines artery and vein assembly</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px;">DONATE 50 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$80 will fund 1 dialysis session.</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 80 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$200 can buy 11 dialysers (artificial kidneys), a key component of
                        dialysis.</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 200 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$600 will fund 1 ECG</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 600 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$1,500 will fund 1 multifunctional bed.</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 1,500 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$10,000 will fund 1 dialysis machine.</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 10,000 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$25,000 will fund 1 Mindray S9 EXP</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 25,000 $</a>
                </div>
            </div>
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text">$60,000 will fund 1 GE Discovery XR650</p>
                    <a href="#alisher" class="btn btn-outline-primary" style="width: 150px">DONATE 60,000 $</a>
                </div>
            </div>
        </div>

        <div class="container" id="alisher" style="margin-top: 30px;">
            <h5 style="text-align: center; color: #254c4c; margin-right: 80px; margin-left: 80px;">ONLY YOUR HELP CAN
                SAVE THOUSANDS OF LIVES OF END STAGE KIDNEY FAILURE PATIENTS EVERY YEAR</h5>
            <h6 style="text-align: center; color: #254c4c; margin-right: 80px; margin-left: 80px; padding-top: 30px;">
                You can donate money for Ward, ICU and name it as per your desire.</h6>
            <div class="card" style="margin-bottom: 10px; margin-top: 80px">
                <div class="card-body" style="background-color: #ffffcc">
                    <p class="card-text">The donation can be given by Cheque/Cash to “‘Kidney Foundation Hospital”‘ Demir Bank Ltd. Kyrgyzstan</p>
                    <p>BENEFICIARY: KIDNEY FOUNDATION HOSPITAL</p>
                    <p>BENEFICIARY ACCOUNT: GBP 1180000154903348</p>
                    <p>BENEFICIARY BANK: Demir Kyrgyz International Bank (Bishkek, Kyrgyzstan)yata</p>
                    <p>BENEFICIARY BANK ADDRESS: 245, Chui Ave., Bishkek, Kyrgyzstan</p>
                    <p>BENEFICIARY BANK SWIFT: DEMIKG22</p>
                    <p>BIC: 118005</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
