{% extends 'base.html' %}
{% load cropping %}
{% load static %}
{% block kidney_selected %}selected{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 5%;">
        <ul>
            <div class="card mb-3" style="text-align: left">
                <img src="{% cropped_thumbnail about_read_detail "cropping" scale=1 %}" class="card-img-top" width="800">
                <div class="card-body" style="background-color: #97aeb3">
                    <h5 class="card-title" style="text-align: center">{{ about_read_detail.title }}</h5>
                    <p class="card-text">{{ about_read_detail.text|linebreaks }}</p>
                    <a href="{% url 'kidney_disease_is'  %}" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </ul>
    </div>
{% endblock %}
